{% extends "base.html" %}

{% block content %}
    <main>
        <div class="max-wrapper">
            <div class="delivery">
                <div class="delivery-header">
                    <p>DELIVERY</p>
                    <h1>Delivery Partner</h1>
                    <p>With our fast delivery processes, your body and skin would be reinvented.</p>
                </div>
                <div class="delivery-logistics">
                    <div class="delivery-logistics-card">
                        <div class="delivery-logistics-card-img">
                            {% load static %} <img src="{% static 'mondico_img_1.png' %}" alt="order"/>
                        </div>
                        <div class="delivery-logistics-card-caption">
                            <div class="delivery-logistics-card-caption-main"><h1>Easy To Order</h1></div>
                            <div class="delivery-logistics-card-caption-sub">Our branded online ordering web app is simple to use with new products.</div>
                        </div>
                    </div>
                    <div class="delivery-logistics-card">
                        <div class="delivery-logistics-card-img">
                            {% load static %} <img src="{% static 'mondico_img_2.png' %}" alt="delivery"/>
                        </div>
                        <div class="delivery-logistics-card-caption">
                            <div class="delivery-logistics-card-caption-main"><h1>Fastest Delivery</h1></div>
                            <div class="delivery-logistics-card-caption-sub"> We offer a wide range of options for a better and accelerated delivery service.</div>
                        </div>
                    </div>
                    <div class="delivery-logistics-card">
                        <div class="delivery-logistics-card-img">
                            {% load static %} <img src="{% static 'mondico_img_3.png' %}" alt="quality"/>
                        </div>
                        <div class="delivery-logistics-card-caption">
                            <div class="delivery-logistics-card-caption-main"><h1>Best Quality</h1></div>
                            <div class="delivery-logistics-card-caption-sub">We are best known for good quality and standard product kits.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock%}