{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <title>{% block title %} Mondico {% endblock %}</title>
</head>

<body>
  <nav class="max-wrapper navigation-wrapper">
    <div class="max-wrapper__content navigation">
      <div class="navigation__logo">
        <h1>Mondico</h1>
      </div>
      <div class="navigation__links">
        <div class="navigation__links--link">
          <a href="{% url 'home' %}">Home</a>
        </div>
        <div class="navigation__links--link">
          <a href="#">About</a>
          <div class="navigation__links--link-dropdown navigation__links--link-dropdown-products">
            <a href="{% url 'about' %}">
              <div class="navigation__links--link-dropdown-item">
                About Us
              </div>
            </a>
            <div class="navigation__links--link-dropdown-item">Career</div>
            <div class="navigation__links--link-dropdown-item">Location</div>
          </div>
        </div>
        <div class="navigation__links--link">
          <a href="#">Products</a>
          <div class="navigation__links--link-dropdown navigation__links--link-dropdown-products">
            <a href="{% url 'product_item' %}">
              <div class="navigation__links--link-dropdown-item">
                Fabric Care
              </div>
            </a>
            <a href="{% url 'product_item' %}">
              <div class="navigation__links--link-dropdown-item">
                Home Care
              </div>
            </a>
            <a href="{% url 'product_item' %}">
              <div class="navigation__links--link-dropdown-item">
                Baby Care
              </div>
            </a>
            <a href="{% url 'product_item' %}">
              <div class="navigation__links--link-dropdown-item">
                Oral Care
              </div>
            </a>
            <a href="{% url 'product_item' %}">
              <div class="navigation__links--link-dropdown-item">
                Personal Care
              </div>
            </a>
            <a href="{% url 'product_item' %}">
              <div class="navigation__links--link-dropdown-item">Others</div>
            </a>
          </div>
        </div>
        <div class="navigation__links--link">
          <a href="#">Distributor</a>
        </div>
        <div class="navigation__links--link">
          <a href="{% url 'contact' %}">Contact</a>
        </div>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}

  <div class="padding-top"></div>

  <footer class="max-wrapper footer-wrapper">
    <div class="max-wrapper__content footer">
      <div>
        <div class="footer__logo">
          <h1>Mondico</h1>
        </div>
        <p>Feel comfortable in a flawless skin</p>
        <div class="hero__content-delivery">
          <span>Fast Delivery</span>
          <div class="hero__content-delivery-img">
            {% load static %} <img src="{% static 'images/bicycle.png' %}" alt="bicycle" />
          </div>
        </div>
      </div>
      <div class="footer__links">
        <div>
          <h1>Company</h1>
          <p><a href="#">Home</a></p>
          <p><a href="#">Distributor</a></p>
          <p><a href="#">Contact</a></p>
        </div>
        <div>
          <h1>Products</h1>
          <p><a href="#">Fabric Care</a></p>
          <p><a href="#">Home Care</a></p>
          <p><a href="#">Baby Care</a></p>
          <p><a href="#">Oral Care</a></p>
          <p><a href="#">Personal Care</a></p>
          <p><a href="#">Others</a></p>
        </div>
        <div>
          <h1>About</h1>
          <p><a href="#">About Us</a></p>
          <p><a href="#">Career</a></p>
          <p><a href="#">Location</a></p>
        </div>
      </div>
    </div>
    <div class="max-wrapper__content copyright">
      © 2023 Mondico. All rights reserved.
    </div>
  </footer>


  <script type="module">
    import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.esm.browser.min.js'
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      autoplay: {
        delay: 5000,
      },

    });
  </script>


</body>

</html>