{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <title>{% block title %} Mondico {% endblock %}</title>
  </head>
  <body>
    <nav class="max-wrapper navigation-wrapper">
      <div class="max-wrapper__content navigation">
        <div class="navigation__logo">
          <h1>Mondico</h1>
        </div>
        <div class="navigation__links">
          <div class="navigation__links--link">
            <a href="#">Home</a>
          </div>
          <div class="navigation__links--link">
            <a href="#">About</a>
            <div class="navigation__links--link-dropdown navigation__links--link-dropdown-products">
                <div class="navigation__links--link-dropdown-item">About Us</div>
                <div class="navigation__links--link-dropdown-item">Career</div>
                <div class="navigation__links--link-dropdown-item">Location</div>
            </div>
          </div>
          <div class="navigation__links--link">
            <a href="#">Products</a>
            <div class="navigation__links--link-dropdown navigation__links--link-dropdown-products">
                <div class="navigation__links--link-dropdown-item">Fabric Care</div>
                <div class="navigation__links--link-dropdown-item">Home Care</div>
                <div class="navigation__links--link-dropdown-item">Baby Care</div>
                <div class="navigation__links--link-dropdown-item">Oral Care</div>
                <div class="navigation__links--link-dropdown-item">Personal Care</div>
                <div class="navigation__links--link-dropdown-item">Others</div>
              </div>
          </div>
          <div class="navigation__links--link">
            <a href="#">Distributor</a>
          </div>
          <div class="navigation__links--link">
            <a href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <footer></footer>
  </body>
</html>
